.details{
  margin-top: 61px;
}
.button-donate {
  position: relative;
  display: inline-block;
  padding: 12px 17px;
  border-radius: 14px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid rgb(221, 218, 218);
  background: white;
  font-weight: bold;
  font-size: 14px;
  color: #1993e4;
  transition: all 1.2s linear;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #1993e4, #1993e456);
    border-radius: 30%;
    height: 96px;
    width: 96px;
    animation: spin infinite linear 1.8s;
    animation-delay: 0;
    bottom: -38px;
    right: -112px;
    transition: all 1.2s linear;
    z-index: 0;
  }

  &:hover {
    color: #fff;
    transition-duration: 1.2s;
  }

  &:hover:after {
    right: -60px;
    bottom: -92px;
    width: 256px;
    height: 256px;
  }
}



.button-donate > .button-content {
  position: relative;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.autherImg{
  width: 80px;
  height: 80px;
  border-radius: 50%;

}
.innerAuther{
  position: relative;
  &::before{
    content: ' ';
    position: absolute;
    height: 2px;
    width: 43%;
    z-index: 2;
    top: 50%;
    left: 0%;
    transform: translatey(-50%, -50%);
    background-color: #ececec;
}
  &::after{
    content: ' ';
    position: absolute;
    height: 2px;
    width: 43%;
    z-index: 2;
    top: 50%;
    right: 0%;
    transform: translatey(-50%, -50%);
    background-color: #ececec;
}
}
.slider-img-container{
  border-radius: 10px;
  box-shadow: 0px 0px 30px 5px #0000000e;
  background-color:  #ececec;
}
.slider-img-container img{
  height: 200px;
  border-radius: 10px;
}
.cta {
  position: relative;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background:#32ace0;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  &:hover:before {
    width: 100%;
    background:#32ace0;
  }
  &:hover svg {
    transform: translateX(0);
  }
  &:active {
    transform: scale(0.95);
  }
}
.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ececec;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.bg-color{
  background-color: #F3F3F3;
}