
.ticket{
  margin-top: 61px;
  padding: 20px 0;
  background-color: #eeeeee;
}
.inner{
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
}
.ticket-date{
  margin:8px 0;
  padding:2px 7px;
  border:1px solid #32ace0;
  color: #32ace0;
  border-radius:10px;
  width:fit-content;
  font-size:14px;
}
