.input-container {
  position: relative;
  margin-bottom: 15px;
}
.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #000000;
  font-size: 14px;
}
.btn-color{
  background-color: black;
  color: #fff;
  &:focus{
    background-color: black;
    color: #fff;
  }
}
.button-donate {
  position: relative;
  display: inline-block;
  padding: 12px 17px;
  border-radius: 14px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid rgb(221, 218, 218);
  background: white;
  font-weight: bold;
  font-size: 14px;
  color: #1993e4;
  transition: all 1.2s linear;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #1993e4, #1993e456);
    border-radius: 30%;
    height: 96px;
    width: 96px;
    animation: spin infinite linear 1.8s;
    animation-delay: 0;
    bottom: -38px;
    right: -112px;
    transition: all 1.2s linear;
    z-index: 0;
  }

  &:hover {
    color: #fff;
    transition-duration: 1.2s;
  }

  &:hover:after {
    right: -60px;
    bottom: -92px;
    width: 256px;
    height: 256px;
  }
}
.button-donate > .button-content {
  position: relative;
  z-index: 2;
}
.userImg{
  min-height: 230px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
