<div class="emergency">
  <div class="container" >
    <div class="input-container search w-50 m-auto py-4">
      <input type="search"  [(ngModel)]="term" class="form-control" placeholder="search...."/>
      <i class="input-icon fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="row g-4">
      <div class="col-md-4" *ngFor="let slide of emergency | search:term ">
        <div class="inner h-100" role="button" [routerLink]="['/emergencydetails' , slide.id]">
          <img src="{{slide.frontMatter.images}}" class="w-100" alt="{{slide.frontMatter.title}}">
          <h3  class="mb-0 pt-2 text-truncate">{{slide.frontMatter.title}}</h3>
          <p class="text-truncate text-muted" >{{slide.frontMatter.summary}}</p>
          <div class="container">
            <div class="row mt-3 g-3">
              <div class="col-6 p-0 ">
                <p class="text-muted discription-size text-capitalize">type: <span class="text-black fw-semibold">{{slide.frontMatter.category}}</span></p>
              </div>
              <div class="col-6 p-0">
                <p class="text-muted discription-size text-capitalize">priority: <span class="text-black fw-semibold">{{slide.frontMatter.level}}</span></p>
              </div>
              <div class="col-6 p-0">
                <p class="text-muted discription-size text-capitalize">location: <span class="text-black fw-semibold">{{slide.frontMatter.location}}</span></p>
              </div>
              <div class="col-6 p-0">
                <p class="text-muted discription-size text-capitalize">data: <span class="text-black fw-semibold">{{slide.frontMatter.date.slice(0,10)}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
